#menu-topo{
    width: 100%;
    color: #fff;
    background: #090F0F;
    box-shadow: 2px 0 4px 0 #000;
    position: fixed;
    top: 0;
    z-index: 9;

        a{
            color: #fff;
            text-decoration: none;
        }

        .navbar{
            max-width: 1230px;
            width: 100%;
            margin: 0 auto;
            padding: 20px 0;
        }

        .dropdown-item{
            color: #575757;

            a{
                color: #575757;
            }
        }

        .navbar-light .navbar-toggler{
            border-color: #fff;
        }

}

@media (max-width: 960px){
    #menu-topo{
        .navbar{
            padding: 20px;
        }
    }
}