.top-page {
    width: 100%;
    position: relative;
    margin-top: 80px;

    .mask {
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0.7;
    }

    .info-topo {
        width: 100%;
        position: absolute;
        top: 0;

        .content {
            padding: 35px 0px;
            max-width: 1230px;
            width: 100%;
            margin: 0 auto;
            display: flex;

            .poster-filme {
                width: 300px;
                height: 450px;

                img {
                    width: 100%;
                }
            }

            .info {
                padding: 40px;

                h1 {
                    font-size: 30px;
                    margin-bottom: 20px;
                }

                .row {
                    margin: 0;
                    margin-bottom: 20px;

                    .info-r {
                        margin-right: 20px;
                    }
                }

                .vote-average {
                    margin-bottom: 20px;
                }

                .description {
                    display: block;
                    max-width: 755px;
                    width: 100%;

                    h2 {
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}