@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans', sans-serif)
}

* {
  padding: 0;
  border: 0;
  font-size: 16px;
  border: none;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #fff;
}

h1{
  font-size: 22px;
}
h2{
  font-size: 19px;
}
a:hover{
  text-decoration: none;
}

.titulo-carrosel{
  margin-bottom: 20px
}

body{
  background: #0e1717;
}

#container{
  max-width: 1230px;
  width: 100%;
  margin: 100px auto 0;
}

input{
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 5px;
}

button{
  background: blue;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}

.card-deck{ 
  .card{
    flex: inherit;
  }
}

.slick-slider{
  img{
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
  }
  .slick-prev,
  .slick-next{
    background: #000;
    border-radius: 100%
  }
  .slick-list{
    padding: 0 13px;
  }

  img{
    border-radius: 5px;
  }
  
  h3{
    font-size: 17px;
    font-weight: 700;
  }

  .release_date{
    font-size: 14px;
  }

  .vote{
    background: blue;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    padding: 8px;
    font-size: 14px;
  }
}

.carrousel-home{
  margin-bottom: 50px;

  h3{
    margin: 15px 0 10px 0;
    max-width: 220px;
    font-size: 20px;
    font-weight: 700;
    line-height: 31px;
  }

  .release_date{
    max-width: 220px;
    font-size: 12px;
  }

  .slick-slide{
    max-width: inherit;
  }
}

.slick-dots li button{
  width: 25px;
  height: 25px;
}
.slick-dots li button:before{
  font-size: 10px;
  color: #fff;
  opacity: 0.5
}
.slick-dots li.slick-active button:before{
  color: #FF0000;
  font-size: 12px;
}

.card-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .cards{
    max-width: 220px;
    width: 100%;
    margin-bottom: 20px;

    .card-body{
      padding: 0;

      h3 {
        font-size: 18px;
        font-weight: 700
      }

      img{
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 960px) {
  #container{
    padding: 20px;
  }

  .carrousel-home h3{
    margin-top: 20px;
  }
  .carrousel-home .release_date {
    
  }

  .slick-slider{
    img {
      max-width: inherit;
      width: 90%
    }
    .slick-initialized {
      .slick-slide{
        max-width: 250px;
        width: 100%;
      }
    }
  }
}
