@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans', sans-serif)
}

* {
  padding: 0;
  border: 0;
  font-size: 16px;
  border: none;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 19px;
}

a:hover {
  text-decoration: none;
}

.titulo-carrosel {
  margin-bottom: 10px;
  padding: 0 20px;
}

body {
  background: #0e1717;
}

#container {
  max-width: 1230px;
  width: 100%;
  margin: 100px auto 0;
}

input {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 5px;
}

button {
  background: blue;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}

.card-deck {
  .card {
    flex: inherit;
  }
}

.card-title {
  padding: 25px 0;
}

.slick-slider {

  .area-carrosel {
    .poster-carrosel {
      width: 100%;

      img {
        width: 100%;
        min-height: 402px;
        border-radius: 10px;
      }
    }

    h3 {
      font-size: 14px;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
    }

    .release_date {
      font-size: 12px;
      font-family: Roboto;
      font-family: 'Open Sans', sans-serif;
    }

    .vote {
      background: blue;
      border-radius: 100%;
      color: #fff;
      display: inline-block;
      padding: 8px;
      font-size: 14px;
    }
  }

  .area-carrosel:hover {
    background: #35363a;
    border-radius: 10px;
  }

  .info-carrosel {
    padding: 20px 10px;
  }
}

.carrousel-home {
  margin-bottom: 50px;

  .slick-slide {
    max-width: inherit;
    padding: 20px;
  }
}

.slick-dots li button {
  width: 25px;
  height: 25px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #fff;
  opacity: 0.5
}

.slick-dots li.slick-active button:before {
  color: #FF0000;
  font-size: 12px;
}

.card-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .cards {
    max-width: 268px;
    width: 100%;
    margin-bottom: 20px;

    .card-body {
      padding: 0;

      img {
        width: 100%;
        border-radius: 5px;
        min-height: 402px;
        border-radius: 10px;
      }

      .info-list {
        padding: 20px 10px;

        h3 {
          font-size: 14px;
          font-weight: 700;
          font-family: "Open Sans", sans-serif;
        }

        .release_date {
          font-size: 12px;
          font-family: Roboto;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
  }

  .cards:hover {
    background: #35363a;
    border-radius: 10px;
  }
}

footer {
  width: 100%;
  background: #35363a;
  padding: 35px 0;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo-footer {
      a {
        font-weight: bold;
        text-decoration: none;
        color: #fff;
      }
    }

    .info-footer {

      .social-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
          list-style: none;
          padding: 0 5px;

          img {
            max-width: 28px;
            height: 28px;
          }
        }
      }
    }

    .developer {
      font-size: 14px;

      span {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 960px) {
  #container {
    padding: 20px;
  }

  .carrousel-home h3 {
    margin-top: 20px;
  }

  .slick-slider {
    .slick-slide {
      padding: 2px;
      max-height: 554px;
    }
  }
}

@media (max-width: 620px) {
  footer {
    .content {
      display: block;
      text-align: center;

      .logo-footer {
        margin-bottom: 25px;
      }

      .info-footer {
        margin-bottom: 25px;

        .social-footer {
          max-width: 135px;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}